form(method="POST" action="/new")
  label(for="author") Name
  input(type="text" id="author" name="author")

  label(for="message") Message
  input(type="text" id="message" name="message")

  button(type="submit") Submit
